/* .column:nth-child(1) {
    background-color: red;
}

.column:nth-child(2) {
    background-color: blue;
}

.column:nth-child(3) {
    background-color: yellow;
}

.column:nth-child(4) {
    background-color: green;
} */